
/* .navbar-content ul {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  flex-direction: row;
  flex-direction: column;
} */


/* header {
  background-color: var(--clr-accent-400);
  font-size: var(--fs-14px);
  position: sticky;
  top: 0;
  z-index: 101;
  box-shadow: 1px 1px 5px var(--clr-primary-800);
}

.h-wrapper{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primary-navigation {
  flex: 0.8;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.left-navbar-gap li a {
  transition: color 0.3s ease;
}

.left-navbar-gap .hide-mobile a:hover {
  color: var(--clr-primary-200);
}

.dropdown-menu {
  transition: all .5s ease;
}

.dropdown-menu > a {
  cursor: pointer;
  display: flex;
  justify-content: safe;
}

.category-modal-wrapper {
  background-color: var(--clr-secondary-200);
  display: none;
  position: absolute;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  font-size: var(--fs-13px);
  row-gap: 0.5rem;
  padding: 1rem 0.8rem;
  z-index: 101;
}

.dropdown-menu:hover > .category-modal-wrapper {
  display: grid;
}


.sidebar-wrapper {
  background-color: var(--clr-accent-200-alpha) ;
  position: fixed;
  top: 0;
  left: 0rem;
  width: 200px;
  height: 100%;
  box-shadow: 1px 0 10px var(--card-item-shadow);
  z-index: 101;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.sidebar-wrapper ul {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.sidebar-wrapper ul li:hover {
  background-color: var(--card-item-shadow);
}

.submenu-indent {
  padding: 0 0 0 1rem;
}

#sidebar-active {
  display: none;
}

#sidebar-active:checked ~ .sidebar-wrapper {
  display: flex;
  transition: all 1s ease;
}

.close-sidebar {
  padding-inline: 1rem;
  background-color: var(--card-item-shadow);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-row-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 0.5rem;
}

@media (max-width: 770px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 770px) {
  .open-sidebar {
    display: none;
  }
}

@media (max-width: 430px) {
  .hide-mobile-l {
    display: none;
  } 
}

.searchbar-right-navbar-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.searchbar-wrapper {
  display: flex;
  align-items: center;
  justify-content:end;
}

.searchbar-wrapper span{
  font-size: var(--fs-14px);
  position: relative;
  right: -1.5rem;
}

@media (max-width: 390px) {
  .left-navbar{
    flex: 0.5;
  }

  .searchbar-wrapper{
    width: 15rem;
  }
}

#searchbar {
  background-color: transparent;
  padding: 0 0.15rem 0 2rem;
  width: 50%;
  height: 100%;
  border: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: all 0.5s ease-in-out;
}

#searchbar:hover {
  background-color: var(--clr-accent-200);
  box-shadow: inset 0px 0px 5px rgba(31, 38, 135, 0.37);
}

#searchbar:focus {
  background-color: var(--clr-accent-200);
  box-shadow: inset 0px 0px 5px rgba(31, 38, 135, 0.37);
  width: 100%;
  outline: none;
}

.nav-item-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5rem;
  transition: all 0.5s ease;
}

.nav-item-wrapper:hover {
  background-color: var(--clr-accent-200);
  box-shadow: inset 0px 0px 5px rgba(31, 38, 135, 0.37);
}

.account-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-item-wrapper .material-symbols-outlined {
  font-size: var(--fs-20px);
  color: var(--clr-primary-600);

} */