@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.container-header {
  background-color: #4CAF50;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
}

.container-content {
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#selection-page button {
  display: inline-block;
  width: 150px;
  margin: 10px;
}

#quiz-page, #result-page {
  padding: 20px;
  display: none;
}

#question-number {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

#question-container {
  margin-bottom: 20px;
  text-align: left;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.options {
  list-style: none;
  padding: 0;
}

.option {
  margin: 10px 0;
}

.option input[type="radio"] {
  margin-right: 10px;
}

#timer {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ff5722;
}

#result {
  font-size: 20px;
  margin-bottom: 20px;
}

#retry-button {
  background-color: #2196F3;
}

#retry-button:hover {
  background-color: #0b7dda;
}

#retake-button {
  background-color: #4CAF50;
}

#retake-button:hover {
  background-color: #45a049;
}
