/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap') */

* {
  font-family: var(--typeface-default);
  font-size: var(--fs-16px);
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

ul {
  list-style: none;
  padding: 0;
}

/* BANNER ------------*/

.top-banner {
  /* border: 1px solid red; */
  height: 150px; 
}

.top-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%) sepia(50%) brightness(90%);
}

.logo-container {
  /* border: 1px solid lime; */
  position: absolute;
  top: 0;
  height: 150px;
  width: 100%;
  text-align: center;
}

.logo-container img {
  height: 100%;
  /* border: 1px solid blue; */
}

/* MAIN ----------- */

main {
  background-color: var(--clr-accent-200);
}

main section {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

/* FOOTER ----------  */

footer {
  background-color: var(--clr-accent-400);
  padding: 2rem 0;
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

@media (max-width: 1005px) {
  .footer-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(502px, 1fr));
  }
}


.left-footer {
  font-size: var(--fs-20px);
  font-weight: var(--fw-regular);
}

.subscription-form p {
  margin: 12px 0;
  padding: 0;
}

.subscription-form input {
  margin-top: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--clr-primary-800);
  background-color: transparent;
  width: 70%;
  padding: 0.5rem 0.5rem;
}

.subscription-form input:focus {
  outline: none;
  background-color: var(--clr-secondary-200);
  box-shadow: 1px 0 5px var(--clr-primary-200);
}

#email-subscription-btn {
  border: none;
  background-color: transparent;
  position: relative;
  left: -2.5rem;
  bottom: -0.5rem;
  cursor: pointer;
}

.right-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: clamp(0.5rem, 2vw, 1rem);
}

@media (max-width: 601px) {
  .footer-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .right-footer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 456px) {
  .right-footer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 342px) {
  .right-footer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.rf-txt-hover > h4 {
  font-size: clamp(var(--fs-14px), 3vw, var(--fs-16px));
}

.rf-txt-hover > ul * {
  font-size: clamp(var(--fs-14px), 2.5vw, var(--fs-15px));
}

.rf-txt-hover h4 {
  color: var(--clr-primary-800);
}

.rf-txt-hover ul li a{
  transition: all 0.3s ease-in-out;
}

.rf-txt-hover ul li a:hover {
  color: var(--clr-primary-800);
  background-color: var(--clr-accent-200);
}

.end-footer {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0 0;
  text-align: center;
  font-size: var(--fs-13px);
}