:root {
  --typeface-family:  Arial, Helvetica, sans-serif;

  --fs-13px: 0.8125rem;
  --fs-14px: 0.875rem;
  --fs-15px: 0.9375rem;
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-30px: 1.875rem;
  --fs-35px: 2.1875rem;
  --fs-40px: 2.5rem;

  --clr-headline: #1D4ED8;
  --clr-primary: #0F172A;
  --clr-secondary: #334155;
}

/* ------------------ GENERAL */
* {
  font-family: var(--typeface-family);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(18, 18, 18, 0.71);
}

.container {
  width: 8.3in;
  height: 11.7in;
  margin-inline: auto;
  padding-block: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

header, main {
  display: flex;
}

header, main, footer {
  width: 90%;
  margin-inline: auto;
}

.row-1 {
  flex: 1;
  margin-inline-end: 2rem;
}

.row-2 {
  flex: 0.4;
}

.section-title {
  color: var(--clr-headline);
}

.section-title {
  font-size: var(--fs-20px);
}

p, h1, h2, h3, h4, h5 {
  margin-block: 0 16px ;
}

a, p {
  text-decoration: none;
  color: var(--clr-secondary);
  font-size: var(--fs-15px);
}

/* -------------------------- HEADER */

.h-row-1-col-1 {
  font-size: var(--fs-30px);
}

.h-row-1-col-2 {
  font-size: 12px;
  display: flex;
  flex-direction: column;

}

.avatar-container {
  display: flex;
  justify-content: start;
}

.avatar-container  img {
  width: 2in;
  height: 2in;
}

.contacts {
  margin: 0;
  font-size: var(--fs-14px);
}

.h-row-1-col-2 {
  line-height: 1.5rem;
}

/* -------------------------- MAIN */

.uni-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uni-info h4 {
  margin-bottom: 0;
}

.uni-info p {
  margin: 0;
  font-size: var(--fs-13px);
}

.uni-major {
  color: var(--clr-secondary);
}

.m-row-1, .m-row-2 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.section-content > h4, .uni-info > h4 {
  font-size: var(--fs-18px);
}

/* -------------------------- FOOTER */
footer {
  text-align: center;
}

.f-col-2 h4 {
  margin: 0;
}